.container-fluid {
  text-align: center;
  background-color: white;
  min-width: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBarStyle {
  background-color:white;
}

.navLinks {
  color: black !important;
}

.cardStyle {
  color: #FFC233;
}

.titles {
  font-size: 27px !important;
}

.text {
  font-size: 20px !important;
}

.contactImages {
  width: 150px;
  height: 300px;
}

